@import url('https://fonts.googleapis.com/css?family=Narnoor:700|Shippori%20Antique:400');

:root {
    --text: #f0f3ef;
    --background: #090c08;
    --primary: #3c4439;
    --secondary: #f7f5fe;
    --accent: #94ce77;
}

body,
.list-group-item {
    background-color: var(--background) !important;
    color: var(--text) !important;
    font-family: 'Shippori Antique' !important;
    font-size: larger;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Narnoor' !important;
    font-weight: 700 !important;
}

.btn {
    border: none !important;
    font-family: 'Shippori Antique' !important;
    font-weight: normal;
}
.image-wrapper {
    position: relative;
    width: 230px !important;
    height: 200px !important;
}

.image-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px !important;
    height: 200px !important;
    filter: blur(20px);
    z-index: -1; /* Gambar blur di belakang */
}

.image-main {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.btn-primary {
    background: var(--primary) !important;
}
.btn-secondary {
    background-color:  #5865F2 !important;
}
.bg-dark {
    background-color: #2f3136 !important;
    color: var(--background) !important;
}
.border-gray {
    border: 1px solid rgba(114, 114, 114, 0.831)important;
}
.jumbotron {
    position: relative; /* Pastikan elemen memiliki posisi relatif untuk pseudo-element */
    background-image: url('https://ik.imagekit.io/9hpbqscxd/SG/image-84.jpg?updatedAt=1705798245623'); /* Ganti dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    height: 60vh;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    overflow: hidden; /* Pastikan pseudo-element tidak keluar dari elemen ini */
}

/* Overlay hitam */
.jumbotron::before {
    content: ''; /* Membuat pseudo-element aktif */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Hitam dengan opasitas 50% */
    z-index: 1; /* Pastikan overlay berada di atas background */
}

/* Konten di atas overlay */
.jumbotron > * {
    position: relative;
    z-index: 2; /* Pastikan konten berada di atas overlay */
}